.dropdown:hover .dropdown-menu-2 {
    display: block !important;
  }
  .bg-green-light{background-color: $color-green-light;}
  .font-m{
    font-size: 1.4rem;
}
.dropdown-menu-2{
  transition: all 0.8s;
  animation: pulsate .3s;
}
.font-s{
  font-size:1.1rem;
}
.bor-r-100p{
  border-radius: 100px;
}
.carousel-inner img {
  width: 150%;
  height: 80vh;
}
.carousel-inner-1 img {
  width: 150%;
  height: 50vh;
}
.font-b{
  font-size: 1.6rem;
}
.intro{
  &__1{
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(to right bottom,rgba($color-blue-dark,.8),rgba($color-black,.8)),url(../css/img/medicine.jpg);
  }
  &__2{
    background-size: cover;
    background-position: center;
    background-image: url(../css/img/images.jpg);
  }
  &__3{
    background-size: cover;
    background-position: center;
    background-image: url(../css/img/download.jpg);
  }
}
.caption__1{
  top: 50%;
  transform: translate(-50%,-50%);
  left: 40%;
  right: 0%;
}
.caption-not__1{
  top: 40%;
  transform: translate(-50%,-50%);
  left: 40%;
  right: 0%;
}
.form-control{
  width: 75%;
}
.w-30{
  width: 30%;
}
.w-60{
  width: 60%;
}
.w-40{
  width: 40%;
}
.w-10{
  width: 10%;
}
.h-5{
  height: 2rem;
}
.disease__list{
  height: 175px;
  overflow-y: scroll;
}
.disease_name_list-A{
  height: 10rem;
  overflow-y: scroll;
  margin-right: -4rem;
  & li{
    padding-top: 1rem;
    padding-left: 1rem;
    
  }
}
.list-1{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.color_gradi-1{
  background-image: linear-gradient(to right bottom,rgba(#2998ff,.6),rgba(#5643fa,.6));
}