<footer class="footer">
    <div class="container mb-5 float-right w-30">
        <h3 class="h3">
            Follow US ON SOCIAL MEDIA
        </h3>
        <div class="container d-inline-block mt-3">
            <a href="#" class="social mr-2 px-2">
                <svg class="social__icon social__icon-1 " >
                    <use xlink:href="css/img/social.svg#icon-facebook" ></use>
                </svg>
            </a>
            <a href="#" class="social mr-2 px-2">
                <svg class="social__icon social__icon-3 ">
                    <use xlink:href="css/img/social.svg#icon-twitter"></use>
                </svg>
            </a>
            <a href="#" class="social mr-2 px-2">
                <svg class="social__icon social__icon-2 ">
                    <use xlink:href="css/img/social.svg#icon-instagram"></use>
                </svg>
            </a>
            <a href="#" class="social mr-2 px-2">
                <svg class="social__icon social__icon-4 ">
                    <use xlink:href="css/img/social.svg#icon-youtube"></use>
                </svg>
            </a>
            <a href="#" class="social mr-2 px-2">
                <svg class="social__icon social__icon-5 ">
                    <use xlink:href="css/img/social.svg#icon-blogger2"></use>
                </svg>
            </a>
        </div>
    </div>
    <p class="blockquote-footer font-s mt-5">
        &copy; Copyright 2020 by Dr. Neeraj gupta .All rights reserved. | Sitemap
    </p>
</footer>