<header class="header d-block">
    <div class="head__img py-1 ml-2 my-0">
        <a href="/"><img src="css/img/1d2f053732e5bf726a73e5061749b1f9.jpg" class="header__logo-img"></a>
    </div>
    <ul class="list-unstyled  btn-group-verticle px-0 my-0 ">
        <li class="py-3 px-1 ml-1 my-3 ">
            <a href="#section-ask" class="btn btn-block py-3 text-light font-m bg-green-grad px-1 " >ask Dr.gupta</a>
        </li>
        <li class="dropdown dropright py-3 px-1 ml-1 my-3">
        <button type="button" class=" btn btn-block py-3 bg-green-grad text-light font-m px-1 " data-toggle="dropdown">Patient Sign in</button>
            <div id="patientsignin" class=" dropdown-menu pb-4 patient__signin icon__cross mr-4">
                        <button type="button" class="close mr-3" data-dismiss="alert">&times;</button>
                <form name="loginForm" method="post" action="./" id="loginForm" class="">
                <div>
                    <input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="">
                </div>	
                <div>	
                    <input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="CA0B0334">
                    <input type="hidden" name="__EVENTVALIDATION" id="__EVENTVALIDATION" value="">
                </div>
                <div class="text-center m-b-md custom-login">
                </div>
                <div class="col-md-5 col-lg-5 col-sm-12 col-xs-12 pb-2 text-center float-left px-0 mt-3">
                    <img src="css/img/login-icon.png" class="loginimg">
                    <br>
                    <h3 class="text-center h1>Patient Login</h3>
                </div>
                <div class="col-md-7 col-lg-7 col-sm-12 col-xs-12 form-group float-right px-0 py-2 mt-3">	
                    <div class="form-group">
                        <input name="txtpinno" type="number" id="txtpinno" class="form-control" 
                            placeholder="PIN">
                        </div>
                        <div class="form-group my-4">
                            <input name="txtpassword" type="password" id="txtpassword" 
                                class="form-control" placeholder="Password">
                        </div>
                        <div class="col-md-6 col-lg-6 my-3">
                            <a class="font-s" href="#" style="text-decoration:underline ">Forgot Password </a>
                        </div>
                        <div class="col-md-6 col-lg-6">
                            <input type="submit" name="loginbtn" value="Login" id="loginbtn" 
                                class="btn btn-success btn-block loginbtn">
                        </div>
                    </div>								  
                </form>									
            </div>
          </li>
        <li class="dropdown dropright header__li px-1 ml-1 my-3 "> 
          <button type="button " class="btn btn-block  py-3 header__nav font-m px-1 " data-toggle="dropdown">About Us  </button>    
          <div class="dropdown-menu dropdown-menu-2 font-sfont-s">
            <a  href="/" class="dropdown-item w-75 my-1">Home</a>
            <a  href="#" class="dropdown-item w-75 my-1">Dr. neeraj gupta</a>
            <a  href="#" class="dropdown-item w-75 my-1">Homeopathy</a>
            <a  href="#" class="dropdown-item w-75 my-1 ">Homeopathic medicine</a>
            <a  href="#" class="dropdown-item w-75 my-1 ">Our mission</a>
          </div>
        </li>
        <li class="dropdown dropright header__li px-1 ml-1 my-3"> 
            <button type="button " class="btn btn-block  py-3 header__nav font-m px-1 " data-toggle="dropdown">Homeopathy  </button>    
            <div class="dropdown-menu dropdown-menu-2 font-s">
              <a  href="#" class="dropdown-item w-75 my-1 ">What is homeopathy?</a>
              <a  href="#" class="dropdown-item w-75 my-1">What homeopathy is no</a>
              <a  href="#" class="dropdown-item w-75 my-1 ">What your doctor wont <br>tell you about homeopathy?</a>
              <a  href="#" class="dropdown-item w-75 my-1 ">Facts and myths</a>
              <a  href="#" class="dropdown-item w-75 my-1 ">Benefits of homeopathy</a>
              <a  href="#" class="dropdown-item w-75 my-1 ">Sources of Medicines</a>
              <a  href="#" class="dropdown-item w-75 my-1 ">Homeopathic Remedies (types)</a>
              <a  href="#" class="dropdown-item w-75 my-1">How to find a good homeopath?</a>
            </div>
          </li>
          <li class="dropdown dropright header__li px-1 ml-1 my-3"> 
            <button type="button " class="btn btn-block py-3 header__nav font-m px-1 " data-toggle="dropdown">Dr. Gupta </button>    
            <div class="dropdown-menu dropdown-menu-2 font-s">
              <a  href="/" class="dropdown-item w-75 my-1 ">Home</a>
              <a  href="#" class="dropdown-item w-75 my-1 ">Dr. neeraj gupta</a>
              <a  href="#" class="dropdown-item w-75 my-1">blogs</a>
              <a  href="#" class="dropdown-item w-75 my-1">Photo gallry</a>
              <a  href="#" class="dropdown-item w-75 my-1 ">education</a>
            </div>
          </li>
          <li class="dropdown dropright header__li px-1 ml-1 my-3"> 
            <button type="button " class="btn btn-block py-3 header__nav font-m px-1" data-toggle="dropdown">Disease</button>    
            <div class="dropdown-menu dropdown-menu-2 font-s">
              <a  href="#" class="dropdown-item w-75 my-1 ">A to Z Diseases</a>
              <a  href="#" class="dropdown-item w-75 my-1 ">Tests and tools</a>
              <a  href="#" class="dropdown-item w-75 my-1">Photos (Before-After)</a>
              <a  href="#" class="dropdown-item w-75 my-1">Videos (Patients)</a>
              <a  href="#" class="dropdown-item w-75 my-1 ">FAQ on various diseases</a>
            </div>
          </li>
          <li class="dropdown dropright header__li px-1 ml-1 my-3"> 
            <button type="button " class="btn btn-block py-3 header__nav font-m px-1 " data-toggle="dropdown">Treatment</button>    
            <div class="dropdown-menu dropdown-menu-2 font-s">
              <a  href="#" class="dropdown-item w-75 my-1 ">Homeopathy Treatment</a>
              <a  href="/onlineTreatment" class="dropdown-item w-75 my-1 ">Treatment Online</a>
              <a  href="#" class="dropdown-item w-75 my-1">Case Studies (All)</a>
              <a  href="#" class="dropdown-item w-75 my-1">Photos (Before-After)</a>
              <a  href="#" class="dropdown-item w-75 my-1 ">FAQ about Online treatment</a>
            </div>
          </li>
          <li class="dropdown dropright header__li px-1 ml-1 my-3"> 
            <button type="button " class="btn btn-block  py-3 header__nav font-m px-1" data-toggle="dropdown">Contact Us</button>    
            <div class="dropdown-menu dropdown-menu-2 font-s">
              <a  href="/contact" class="dropdown-item w-75 my-1 ">Contact Us</a>
              <a  href="#" class="dropdown-item w-75 my-1">Telephonic Consultation</a>
              <a  href="/patientAppointment" class="dropdown-item w-75 my-1">Patient Appointment</a>

         </li>
    </ul>				
</header>