.footer {
    background-color: $color-black;
    grid-column: full-start / full-end;
    padding: 2rem 0 0rem 8rem;
}
.copyright {
    font-size: 1.4rem;
    color: $color-grey-light-1;
    margin-top: 6rem;
    width: 70%;
}