.curability{
    &__exp{
        display: flex;
        justify-content: space-between;
    }
    &__test{
        display: flex;
        justify-content: space-between;
    }
    &__exp-1{
        list-style: none;
        display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    }
    &__test-1{
        overflow: scroll;
        height: 100%;
        font-size: 1.2rem;
    }
}
.exp__1{
    text-decoration: none;
    list-style: none;
    font-size: 1.3rem;
    line-height: 5rem;
    padding: 0 2rem;
    color: black;
    transition: border .3s;
    &:hover{
        border: 2px solid $color-Light-green;
    }
}

