.header{
	&__logo-img {
		height: 11rem;
		width: 11rem;
	}
	&__li:hover &__nav{
		color: white;
	}
	&__li{
		position: relative;
	}
	&__nav{
		transition: color 0.8s;
		position: relative;

	}
	&__li::before{
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 3px;
		transform: scaleY(0);
		background-image: linear-gradient(to right,$color-Light-green,$color-Dark-green);
		transform-origin: bottom;
		transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s;
	}	
	&__li:hover::before{
		transform: scaleY(1);
		width: 100%;
	}
	
}

.nav__green{
	background-color: $color-Light-green;
	color: #fff;
	text-decoration: none;
	font-size: 1.4rem;
	font-weight: 400;
}
.head__img{
	height: 11rem;
		width: 11rem;
}
.nav__checkbox{
	opacity: 0;
	cursor: pointer;

}
.nav__btn{
	cursor: pointer;
}
.popup{
    &-1{
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1000;
    background-color: $color-blue;
    display: inline-block;
    width: 18rem;
    border-radius: 5px;
    font-size: 1.2rem;
    color: white;
    box-shadow: 0rem 1rem 1rem rgba($color-black ,.2);
    border: 2px solid rgb(231, 231, 231);
       &:focus{
           display: none;
       }
    }
    &-2{
        position: fixed;
        right: 0;
        bottom: 0;
        z-index: 2000;
        width: 25rem;
        height: 35rem;
        display: none;
    }
   
    &-3{
        position: fixed;
        right: 0;
        bottom: 2.5rem;  
        z-index: 1000;
        width: 13rem;
        height: 5rem;
        border-radius: 10px;
        color: white;
        background-image: linear-gradient(rgba(250, 150, 20,1),rgba(155, 90, 4,1));
        clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 21% 76%, 18% 82%, 14% 75%, 0 75%);
		border: 2px solid rgb(231, 231, 231);
        box-shadow: 0rem 1rem 1rem rgba($color-black ,.2);
        
    }
    &-1:focus + &-2{
        display: block;
    }
    &-2:hover{
        display: block;
    }
}
.dropdown-menu-2{
    &>*{
        &:hover{
            background-color: $color-Medium-green;
            color: white;
        }
        
    }
}
