.form{
    text-align: center;
    &__email{
        margin-bottom: 2rem;
        height: 4rem;
        width: 50rem;
        border-radius: 4px;
        background-color: $color-grey-light;
        box-shadow: 0 2rem 4rem rgba($color-black ,.2);
        font-size: 1.5rem;
    }
    &__brief{
        height: 10rem;
        width: 48rem;
        border-radius: 4px;
        padding: 1rem 1rem;
        background-color: $color-grey-light;
        box-shadow: 0 2rem 4rem rgba($color-black ,.2);
        font-size: 1.5rem;
        text-align: start;
    }
}
.search{
    flex: 0 0 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 1rem;
    right: 3rem;
    &__input{
        font-family: inherit;
        font-size: inherit;
        background-color: white;
        color: black;
        padding: .7rem 2rem;
        border-radius: 100px;
        width: 20rem;
        height: 3rem;
        border: none;
        transition: all .2s;
        margin-right: -3.5rem;
        &:focus{
            outline: none;
        }
        
    }
    
    &__btn{
        border: none;
        background-color: white;
        &:focus{
            outline: none;
        }

    }
    &__icon{
        height: 2rem;
        width: 2rem;
    }
}
.vc_col-sm-6{
    padding: 1rem;
}
.home-select{
    cursor: pointer;
    box-shadow: 0 0 5px rgba(50,50,50,.05) !important;

    &:hover{
        outline: none;
    }
}