.header{
	&__logo-img {
		height: 11rem;
		width: 11rem;
	}
	&__li:hover &__nav{
		color: white;
	}
	&__li{
		position: relative;
	}
	&__nav{
		transition: color 0.8s;
		position: relative;

	}
	&__li::before{
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 3px;
		transform: scaleY(0);
		background-color: $color-green-light;
		transform-origin: bottom;
		transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s;
	}	
	&__li:hover::before{
		transform: scaleY(1);
		width: 100%;
	}
	
}

.nav__green{
	background-color: $color-green-light;
	color: #fff;
	text-decoration: none;
	font-size: 1.4rem;
	font-weight: 400;
}
.head__img{
	height: 11rem;
		width: 11rem;
}
.nav__checkbox{
	opacity: 0;
	cursor: pointer;

}
.nav__btn{
	cursor: pointer;
}
