
.u-margin-top-big{margin-top: 4rem;}
.u-border-left{border-left: 1px solid black;}
.u-border-right{border-right: 1px solid black;}
.u-flex-row{display: flex;
    flex-direction: row;}
.u-flex-column{display: flex;
       flex-direction: column;}